# Dependencies
node_modules/
/.pnp
.pnp.js

# Testing
/coverage

# Production/Build
/build
/dist
*.tsbuildinfo

# Misc
.DS_Store
*.pem
.env.local
.env.development.local
.env.test.local
.env.production.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# IDE
.vscode/
.idea/
*.swp
*.swo
*~
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# OS
Thumbs.db
.DS_Store

# React Native
/ios/Pods
/android/.gradle
/android/local.properties
